# Virtual environments
.venv/
venv/
env/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# IDE / OS specific exclusions
.vscode/
.idea/
.DS_Store

# Data and Logs
# Uncomment these if you do not want to push your dataset or large models to GitHub
DataSet/
Balanced_DataSets/
models/*.pth
*.pth

# Jupyter Notebook files
.ipynb_checkpoints/
